body{
            background-color:black;
        }
        button{
            color:white;
            border:none;
            padding-top:4px;
            padding-bottom:4px;
            padding-left:8px;
            padding-right:8px;
            border-radius:15px;
            background-color:rgb(51, 51, 51);
        }
        .right{
            background-color:rgb(254, 160, 10);
        }
        .heading{
            color:white;
        }
        .result-output{
            color:white;
            letter-spacing:3px;
        }